@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Oswald:wght@400;600&display=swap");
@import url("../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css");

@media only screen and (max-width: 540px) {

  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    width: 93%;
  }
}

:root {
  --dirt-yel: #bcb106;
}

body,
html {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  &.overflow-hidden {
    overflow-block: hidden;
    margin-right: 17px;
  }
}

// #root {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }

.page-content {
  min-height: 650px;
}

// .container {
//   max-width: 80%;
//   margin: 0 auto;
//   &-narrow {
//     max-width: 50%;
//     margin: 0 auto;
//   }
//   &-wide {
//     max-width: 94%;
//     margin: 0 auto;
//   }
// }

// @media only screen and (max-width: 1400px) {
//   .container {
//     &-narrow {
//       max-width: 50%;
//       margin: 0 auto;
//     }
//   }
// }

// @media only screen and (max-width: 1200px) {
//   .container {
//     &-narrow {
//       max-width: 60%;
//       margin: 0 auto;
//     }
//   }
// }

// @media only screen and (max-width: 768px) {
//   .container {
//     max-width: 94%;
//     &-narrow {
//       max-width: 94%;
//     }
//   }
// }

// @media only screen and (max-width: 579px) {
//   .container {
//     max-width: 97%;
//     &-narrow {
//       max-width: 97%;
//     }
//     &-wide {
//       max-width: 97%;
//     }
//   }
// }

.msg-1 {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 130%;
}

.absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 92% !important;
}