.sign-in {
  width: 40vw;

  .title {
    font-family: "Oswald";
    line-height: 1.222em;
    margin: 0 0 15px;
    font-size: 2rem;
  }

  .sub-title {
    letter-spacing: 1.5px;
    color: #505050;
  }

  .custom-button {
    &:last-child {
      margin-left: 10px;
    }
  }
}
