@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Oswald:wght@400;600&display=swap");

:root {
  --dirt-yel: #bcb106;
}

body,
html {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 578.9px) {
  .container {
    max-width: 94%;
  }
}

.container-wide {
  max-width: 94%;
  margin: 0 auto;
}
