@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Oswald:wght@400;600&display=swap");

:root {
  --dirt-yel: #bcb106;
}

body,
html {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  margin: 0 -15px;
}

.col {
  padding: 15px;
  width: 100%;
}

.ml-2 {
  margin-left: 15px;
}
.mr-2 {
  margin-right: 15px;
}

.sign-in,
.sign-up {
  .title {
    font-family: "Oswald";
    line-height: 1.222em;
    margin: 0 0 15px;
    font-size: 2rem;
  }

  .sub-title {
    letter-spacing: 1.5px;
    color: #505050;
  }
}

@media only screen and (max-width: 578.9px) {
  .container {
    max-width: 94%;
  }
}

.container-wide {
  max-width: 94%;
  margin: 0 auto;
}
